        header {
            grid-area: header;
            background-color: yellow;
        }

        nav {
            grid-area: nav;
            background-color: gray;
        }

        main {
            grid-area: main;
            background-color: orange;
        }

        aside {
            grid-area: aside;
            background-color: bisque;
        }

        footer {
            grid-area: footer;
            background-color: green;
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'nav nav main main main aside'
                'nav nav main main main aside'
                'nav nav footer footer footer footer';
            grid-gap: .5em;
           
        }


        ul li {
            list-style-type: none;
        }


        /*FIRST BREAK POINT === tablet */
        @media only screen and (max-width : 900px) {
            body {
                background: blue;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }

        }

        /*SECOND BREAK POINT === mobile */
        @media only screen and (max-width : 600px) {

            body {
                background: fuchsia;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main main main'
                    'aside aside aside aside aside aside'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
                padding: .5em;
            }

            ul li {
                display: inline-block;
            }

        }
