/* General styles starts */
body {
  background-color: #F5F6F8;
  margin: 0;
}

header {
  grid-area: header;
  /* padding-left: 10px;
  background-color: yellow; */
}

nav {
  grid-area: nav;
  /* padding: 10px;
  background-color: gray; */
}

main {
  grid-area: main;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /* background-color: orange; */
}

aside {
  grid-area: aside;
  padding: 10px;
  /* background-color: bisque; */

}

.grid-container {
  display: grid;
  grid-template-areas:
    'nav nav'
    'header header'
    'main aside'
    'footer footer';
  max-width: 80rem;
  margin: auto;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  color: #707070;
}


img {
  width: 100%;

}

.banner {
  width: 100%;
}

.banner_text {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* General styles ends */

/* Other pages CSS starts */
.race h1 {
  font-family: source-serif-pro;
  font-size: 54px;
  text-decoration: #50AED8;
  color: #4C4D63;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: #50AED8 underline;
}
/* Other pages CSS ends */

/* Footer CSS starts */
footer {
  grid-area: footer;
  text-align: center;
  height: 2.5rem;
  background-color: #4C4D63
}

footer p {
  padding-top: 0.5rem;
  margin: 0;
  color: #F5F6F8;
}
/* Footer CSS ends */

/* Menu CSS starts */
.menuleft {
  display: inline-block;
  float: left;
}

.menuright {
  display: inline-block;
  float: right;
}

.menuright a {
  margin-left: 1em;
}

/* Add a white background color to the top navigation */
.topnav {
  background-color: #F5F6F8;
  overflow: hidden;
  border-bottom: #4C4D63 solid 2px;
  /* padding-left: 8%; */
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #4C4D63;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  justify-content: space-between;
  display: block;
  float: left;
  font-family: source-serif-pro;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  font-weight: bold;
  color: #4C4D63;
}

/* Hide the hamburger menu in the big screens */
.topnav .icon {
  display: none;
}

/*** Mobile-menu styles start here ***/
@media screen and (max-width: 900px) {

  /* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*** Mobile-menu styles end here ***/
/* Menu CSS ends */

@media screen and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      'nav nav'
      'header header'
      'main main'
      'aside aside'
      'footer footer';
  }

  .menuright {
    display: inline-block;
    float: left;
  }

  .race h1 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.1rem;
  }

  footer {
    height: 1.5rem;
  }

  footer p {
    padding-top: 0.3rem;
    font-size: 0.8rem;
  }
}
