/* General styles */
body {
  background-color: #FFFFFF;
  margin: 0px;
}


#container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER styles if needed */

/*** Menu styles start here ***/
/* Add a white background color to the top navigation */
.topnav {
  background-color: #FFFFFF;
  overflow: hidden;
  margin-left: 10%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  /* display: block; */
  color: #020202;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #DBF3FA;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #3A9BDC;
  color: white;
}

/* Hide the hamburger menu in the big screens */
.topnav .icon {
  display: none;
}
/*** Menu styles end here ***/



/*** Mobile-menu styles start here ***/
@media screen and (max-width: 600px) {
  /* When the screen is less than 600 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*** Mobile-menu styles end here ***/



/*** Mobile styles start here ***/
/*Styles for screen 1000px and lower*/
@media screen and (max-width: 1000px) {
  #container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Styles for screen 600px and lower*/
@media screen and (max-width : 600px) {
  h1 {
    font-size: 1.5rem;
  }

  #container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*** Mobile styles end here ***/
